<div class="row-fluid">
  <div class="span12">
    <h4>Spring Survey</h4>
    <%= form_for(@survey, :html => { :class => 'form-horizontal'}) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <div class="control-group">
          <label class="control-label" for="selectGender">Most Frequently Used Drug:</label>
          <div class="controls">
            <%= f.select(:drug_id, Drug.all.collect {|p| [p.drug_name, p.id]}) %>
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="inputEncounters">Frequency of Use:</label>
          <div class="controls">
            <%= f.select(:gender, [['Daily', 1], ['Several times per week', 2], ['Once or twice per week', 3],['A few times per month',4 ], ['A few times per year', 5], ['Tried it once', 6], ['I do not use drugs at all', 7]]) %>
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="selectGender">Gender:</label>
          <div class="controls">
            <%= f.select(:gender, [['Female', 1], ['Male', 2]]) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="selectGender">Race:</label>
          <div class="controls">
            <%= f.select(:race_id, Race.all.collect {|p| [p.name, p.id]}) %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputAge">Age:</label>
          <div class="controls">
            <%= f.number_field :age %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputAge">Credit Hours this Quarter:</label>
          <div class="controls">
            <%= f.number_field :credits %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputAge">GPA:</label>
          <div class="controls">
            <%= f.text_field :gpa %>
          </div>
        </div>

    <%= f.hidden_field :user_id, :value => "45" %>
  <div class="actions">
    <%= f.submit "Submit Survey", class: 'btn' %>
  </div>
<% end %>

      </div>
    </div>