<div class="row-fluid">
  <div class="span12">
    <h1>Spring Surveys</h1>
    <%= button_to "Take the Survey", new_survey_path, :id => "survey_button",
                  :class => "btn btn-primary", :method => :get %>

    <div class="well well-small">
    <table class="table table-condensed table-hover">  <tr>
      <caption>Survey Averages</caption>
      <th>Dude%</th>
      <th>Enc/Week</th>
      <th>Age</th>
      <th>Credits</th>
      <th>GPA</th>
    </tr>
      <tr>
        <TD><%= number_with_precision((Survey.find_all_by_gender(2).count.to_f/Survey.count.to_f)*100.0, :precision => 2) %>%</TD>
        <TD><%= number_with_precision(Survey.average('ecnounters') , :precision => 2)%></TD>
        <TD><%= number_with_precision(Survey.average('age'), :precision => 2) %></TD>
        <TD><%= number_with_precision(Survey.average('credits'), :precision => 2) %></TD>
        <TD><%= number_with_precision(Survey.average('gpa'), :precision => 2) %></TD>
      </tr>
      </table>

    </div>


      <table class="table table-condensed table-striped table-hover">  <tr>
        <caption>Raw Data</caption>
        <th>Gender</th>
      <th>Encounters/Week</th>
      <th>Age</th>
      <th>Credits</th>
      <th>GPA</th>

    </tr>

      <% @surveys.each do |survey| %>
          <tr>
            <td><% if survey.gender == 1 %>
                  Chick
                  <% else %>
                  Dude
                  <% end %></td>
            <td><%= survey.ecnounters %></td>
            <td><%= survey.age %></td>
            <td><%= survey.credits %></td>
            <td><%= survey.gpa %></td>

          </tr>
      <% end %>
    </table>

    <br />
  </div>
</div>