<div class="row-fluid">
  <div class="span12">

    <h1>Spring Surveys</h1>
    <%= button_to "Take the Survey Today!", new_survey_path, :id => "survey_button",
                  :class => "btn btn-primary", :method => :get %>

    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <B>Summary of <%= Survey.count %> Completed Surveys</B>
          </a>
        </div>
        <small>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="well well-small">
            <table class="table table-condensed table-hover">
              <TR><th colspan=5><%= number_with_precision((Survey.find_all_by_gender(2).count.to_f/Survey.count.to_f)*100.0, :precision => 2) %>% Male</th></TR>
              <Tr>
              <th></th>
              <th>Enc/Wk</th>
              <th>Age</th>
              <th>Credits</th>
              <th>GPA</th>
            </tr>
              <tr>
                <TD>Avg</TD>
                <TD><%= number_with_precision(Survey.average('ecnounters') , :precision => 2)%></TD>
                <TD><%= number_with_precision(Survey.average('age'), :precision => 2) %></TD>
                <TD><%= number_with_precision(Survey.average('credits'), :precision => 2) %></TD>
                <TD><%= number_with_precision(Survey.average('gpa'), :precision => 2) %></TD>
              </tr>
              <tr>
                <TD>Max</TD>
                <TD><%= number_with_precision(Survey.maximum('ecnounters') , :precision => 2)%></TD>
                <TD><%= number_with_precision(Survey.maximum('age'), :precision => 2) %></TD>
                <TD><%= number_with_precision(Survey.maximum('credits'), :precision => 2) %></TD>
                <TD><%= number_with_precision(Survey.maximum('gpa'), :precision => 2) %></TD>
              </tr>
              <tr>
                <TD>Min</TD>
                <TD><%= number_with_precision(Survey.minimum('ecnounters') , :precision => 2)%></TD>
                <TD><%= number_with_precision(Survey.minimum('age'), :precision => 2) %></TD>
                <TD><%= number_with_precision(Survey.minimum('credits'), :precision => 2) %></TD>
                <TD><%= number_with_precision(Survey.minimum('gpa'), :precision => 2) %></TD>
              </tr>


              <TR><th colspan=5>Correlation Matrix</th></TR>
              <% the_matrix = Survey.correlation_matrix %>
              <% matrix_titles = ['Enc/Wk', 'Age', 'Credits', 'GPA'] %>
              <% for i in (0..3) %>
                  <tr>
                    <td><%= matrix_titles[i] %></td>
                    <% the_matrix[i].each do |x| %>
                        <td><%= number_with_precision(x, :precision => 2) %></td>
                    <% end %>
                  </tr>
              <% end %>
            </table>

          </div>
        </div>
            </small>
      </div>



      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Raw Data
          </a>
        </div>
        <small>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <table class="table table-condensed table-striped table-hover">  <tr>
              <th>#</th>
              <th>Gender</th>
              <th>Enc/Wk</th>
              <th>Age</th>
              <th>Creds</th>
              <th>GPA</th>

            </tr>

              <% @surveys.each do |survey| %>
                  <tr>
                    <td><%= survey.id %></td>
                    <td><% if survey.gender == 1 %>
                          Chick
                      <% else %>
                          Dude
                      <% end %></td>
                    <td><%= survey.ecnounters %></td>
                    <td><%= survey.age %></td>
                    <td><%= survey.credits %></td>
                    <td><%= survey.gpa %></td>

                  </tr>
              <% end %>
            </table>
          </div>
        </div>
            </small>
      </div>
    </div>




    <br />
  </div>
</div>